.custom-slider .rc-slider-track {
  background-color: #0952f0; /* Tailwind's blue-600 */
  height: 6px;
  z-index: -2;
}

.custom-slider .rc-slider-rail {
  background-color: #E5E7EB; /* Tailwind's gray-200 */
  height: 6px;
  z-index: -3;
}

.custom-slider .rc-slider-handle {
  z-index: -1;
  border: 2px solid #ffffff9c; 
  height: 15px;
  width: 15px;
  background-color: #8170ef;
  text-decoration: none;
  /* cursor:default; */

}

.custom-slider .rc-slider-mark-text {
  font-size: 0.875rem; /* Text size similar to Tailwind's text-sm */
}
